*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
**/build/
/captures/
.externalNativeBuild/
.cxx/
*.apk
*.ap_
*.aab
_ref_apk/
*_ref_apk/
app/libs/*.aar
!app/libs/.gitkeep
*.keystore
*.jks
.kotlin/
